# Database (Postgres)
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=

# Database (MongoDB)
MDB_URI=

# LLMs
OPENAI_API_KEY=
OPENAI_API_HOST=
OPENAI_API_ORG_ID=
AZURE_OPENAI_API_ENDPOINT=
AZURE_OPENAI_API_KEY=
ANTHROPIC_API_KEY=
ANTHROPIC_API_HOST=
GEMINI_API_KEY=
GROQ_API_KEY=
LOCALAI_API_HOST=
LOCALAI_API_KEY=
MISTRAL_API_KEY=
OLLAMA_API_HOST=
OPENROUTER_API_KEY=
PERPLEXITY_API_KEY=
TOGETHERAI_API_KEY=

# Model Observability: Helicone
HELICONE_API_KEY=

# Text-To-Speech
ELEVENLABS_API_KEY=
# https://api.elevenlabs.io
ELEVENLABS_API_HOST=
ELEVENLABS_VOICE_ID=
# Text-To-Image
PRODIA_API_KEY=
# Google Custom Search
GOOGLE_CLOUD_API_KEY=
GOOGLE_CSE_ID=
# Browse
# Set here, otherwise not working in dev mode (if no docker)
PUPPETEER_WSS_ENDPOINT=

# Backend Analytics
BACKEND_ANALYTICS=

# Backend HTTP Basic Authentication (see `deploy-authentication.md` for turning on authentication)
HTTP_BASIC_AUTH_USERNAME=
HTTP_BASIC_AUTH_PASSWORD=

# Frontend variables
NEXT_PUBLIC_GA4_MEASUREMENT_ID=
NEXT_PUBLIC_PLANTUML_SERVER_URL=

# app.config.ts
#URLNAME=https://substantifik.com
#CARDIMAGE=https://substantifik.com/icons/card-dark-1200.png
NEXT_PUBLIC_URLNAME=https://big-agi.com
NEXT_PUBLIC_CARDIMAGE=https://big-agi.com/icons/card-dark-1200.png
NEXT_PUBLIC_OPENREPO=https://github.com/enricoros/big-agi
NEXT_PUBLIC_OPENPROJECT=https://github.com/users/enricoros/projects/4
NEXT_PUBLIC_SUPPORTINVITEDISCORD=https://discord.gg/MkH4qj2Jp9
NEXT_PUBLIC_PRIVACYPOLICY=https://big-agi.com/privacy
NEXT_PUBLIC_TITLEAPP=big-AGI
NEXT_PUBLIC_TWITTERSITE=@enricoros

NEXT_PUBLIC_GA4_MEASUREMENT_ID=
NEXT_PUBLIC_PLANTUML_SERVER_URL=

NEXT_PUBLIC_SHOW_PURPOSE_FINDER=false

# src/apps/chat/components/panes/usePanesManager.ts
# change this to increase/decrease the number history steps per pane
MAX_HISTORY_LENGTH=10

# change this to allow for more/less panes
MAX_CONCURRENT_PANES=4

#change to true to enable verbose console logging
DEBUG_PANES_MANAGER=false

# src/common/util/idbUtils.ts
DEBUG_SCHEDULER=false
USER_LOG_ISSUES=true

# src/server/wire.ts
# set this to true to see the tRPC and fetch requests made by the server
SERVER_DEBUG_WIRE=false